
/* Grid Item  Container*/
.jirApZ {
    width: 100%;
}

/* Grid Item */
.bVoXXg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


@media (min-width: 768px) {
    .bqyzQp {
        margin: 2rem;
    }
    .jirApZ {
        width: initial;
    }
}

@media (min-width: 1200px) {
    /* Main Carrousel */
    .bqyzQp {
        max-width: 1200px;
        margin: 0 auto;
    }
}